# OS
.DS_Store

# IDE
.vscode/
.idea/

# Dependencies
node_modules/

# Build artifacts / archives
*.tar
*.tar.gz

# Local runtime data
/data/
/public/uploads/

# Caches & logs
npm-cache/
**/*.log
**/tmp/

# Local cookies/test files
cookies.txt
user_cookies.txt
test_cookies.txt
fotolibrary-image/
fotolibrary-image-1/
